// buttons.scss

// custom button variables
$buttonFontFamily: "Merriweather Sans", "Helvetica", "Arial", sans-serif;
$buttonFontSize: 21px;
$buttonFontWeight: bold;

button {
  font-family: $buttonFontFamily;
  font-size: $buttonFontSize;
  font-weight: $buttonFontWeight;
  text-transform: capitalize;
}
.button {
  font-family: $buttonFontFamily;
  font-size: $buttonFontSize;
  font-weight: $buttonFontWeight;
  text-transform: capitalize;  
}
a.button {
  font-family: $buttonFontFamily;
  font-size: $buttonFontSize;
}
.button.primary {
  font-family: $buttonFontFamily;
}
.button.secondary {
  font-family: $buttonFontFamily;
}
