// cards.scss
$cardHeading: "Merriweather Sans", "Arial", sans-serif;
$cardDescription: "Merriweather", "Georgia", "Arial", serif;

// default client card
.card {
  @include margin (null, null, null, null);
  @include padding (10px, 10px, 10px, 10px);
  background-color: $white;
  border-top: solid 5px #0066CC !important;
  border-left: solid 1px $light-gray;
  border-right: solid 1px $light-gray;
  border-bottom: solid 1px $light-gray;
  & .client-image {
    @include margin (null, null, null, null);
    @include padding (null, null, null, null);
  }
  & .card-heading {
    @include margin (null, null, null, null);
    @include padding (10px, 0px, 10px, 0px);
    font-family: $cardHeading;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: darken($dark-gray,30%);
    line-height: 1.45rem;
  }
  & .card-description {
    @include margin (null, null, null, null);
    @include padding (null, null, 10px, null);
    font-family: $cardDescription;
    font-size: 14px;
  }
  & .card-industry {
    @include margin (null, null, null, null);
    @include padding (null, null, 10px, null);
  }
  & .card-category {
    @include margin (null, null, null, null);
    @include padding (null, null, 10px, null);
  }
  & .card-button {
    @include margin (null, null, null, null);
    @include padding (null, null, null, null);
  }
}

.product-card {
  @include margin (null, null, null, null);
  @include padding (10px, 10px, 0px, 10px);
  border: solid 2px #CCCCCC;
  border-radius: 5px;
  & h3.card-heading {
    font-size: 16px;
  }
  & h4.card-heading {
    font-size: 14px;
  }
  & p.card-description {
    font-size: 14px;
  }
  & span.card-description {
    font-size: 14px;
  }
  & .card-thumbnail {
    @include margin (null, null, null, null);
    @include padding (10px, 0px, 0px, 0px);
  }
  & .buttton-group {
    @include padding (0px, 0px, 0px, 0px);
  }
}

#diy-website-image {
  background-image: url("https://placehold.it/360x100");
}

#static-website-image {
  background-image: url("https://placehold.it/360x100");
}

#cms-website-image {
  background-image: url("https://placehold.it/360x100");
}
