// clients-preview.scss

// clients-preview variables
$clients-preview-margin-top: 20px;
$clients-preview-margin-bottom: 20px;
$clients-preview-padding-top: 20px;
$clients-preview-padding-bottom: 20px;
$clients-preview-bg-color: #FFFFFF;
$clients-preview-border-bottom: solid 1px #CCCCCC;

// section heading variables
$section-heading-margin-top: 20px;
$section-heading-margin-bottom: 20px;
$section-heading-padding-top: 20px;
$section-heading-padding-bottom: 20px;

// custom projects preview section
.clients-preview {
  margin-top: $clients-preview-margin-top;
  margin-bottom: $clients-preview-margin-bottom;
  padding-top: $clients-preview-padding-top;
  padding-bottom: $clients-preview-padding-bottom;
  border-bottom: $clients-preview-border-bottom;
  background-color: $clients-preview-bg-color;
}
