// fe-dev-preview.scss
$fe-dev-margin-top: 0px;
$fe-dev-margin-bottom: 0px;
$fe-dev-padding-top: 60px;
$fe-dev-padding-bottom: 60px;
$fe-dev-bg-color: #FFFFFF;

// maps to the custom frontend development section
.fe-dev-preview {
  margin-top: $fe-dev-margin-top;
  margin-bottom: $fe-dev-margin-bottom;
  padding-top: $fe-dev-padding-top;
  padding-bottom: $fe-dev-padding-bottom;
  background-color: $fe-dev-bg-color;
}
// maps to the custom skillset heading
.skillset-heading {
  font-family: "Merriweather Sans", sans-serif;;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

// maps to the custom skillset description
.skillset-description {
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 14px;
  font-weight: 400;
}

// maps to the custom skillset icon
.skillset-icon {
  font-size: 36px;
  color: #0057BD;
}
