// hero.scss

// convert to use default foundation mixins
// convert to a react hero component
$heroHeadingFontFamily: "Bebas Neue", "OSP-DIN", "Arial", sans-serif;
$heroDescriptionFontFamily: "Merriweather Sans", "Helvetica", "Arial", sans-serif;

@mixin margin ($top:null, $right:null, $bottom:null, $left:null) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}
@mixin padding ($top:null, $right:null, $bottom:null, $left: null) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

.hero {
  @include margin (null, null, null, null);
  @include padding (60px, null, 60px, null);
  background-color: #0066cc;
  color: #FFFFFF;
  & h1.hero-heading {
    @include margin (null, null, null, null);
    @include padding (0px, null, 0px, null);
    font-family: $heroHeadingFontFamily;
    font-size: 54px;
    font-weight: bold;
  }
  & h2.hero-heading {
    @include margin (null, null, null, null);
    @include padding (0px, null, 0px, null);
    font-family: $heroHeadingFontFamily;
    font-size: 54px;
    font-weight: bold;
  }
  & p.hero-description {
    @include margin (null, null, null, null);
    @include padding (0px, null, 0px, null);
    font-family: $heroDescriptionFontFamily;
    font-size: 18px;
    font-weight: bold;
    text-transform: none !important;
  }
  & span.hero-description {
    @include margin (null, null, null, null);
    @include padding (0px, null, 0px, null);
    font-family: $heroDescriptionFontFamily;
    font-size: 18px;
    font-weight: bold;
    text-transform: none !important;
  }
}
