// hero.scss

// convert to use default foundation mixins
// convert to a react hero component
$heroHeadingFontFamily: "Bebas Neue", "OSP-DIN", "Arial", sans-serif;
$heroDescriptionFontFamily: "Merriweather Sans", "Helvetica", "Arial", sans-serif;

@mixin margin ($top:null, $right:null, $bottom:null, $left:null) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}
@mixin padding ($top:null, $right:null, $bottom:null, $left: null) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

.three-column-hero {
  @include margin (null, null, null, null);
  @include padding (0px, null, 0px, null);
  & .dark-gray-bg {
    background-color: darken(#CCCCCC, 20%);
  }
  & .blue-bg {
    background-color: darken(#0066cc, 20%);
  }
  & .light-gray-bg {
    background-color: darken(#999999, 20%);
  }
}

.two-column-hero {
  @include margin (null, null, null, null);
  @include padding (60px, null, 40px, null);
}

.home-hero {
  @include margin (null, null, null, null);
  @include padding (0px, null, 0px, null);
  background-color: none;
  color: #FFFFFF;
  & h1.hero-heading {
    @include margin (null, null, null, null);
    @include padding (20px, null, 0px, null);
    font-family: $heroHeadingFontFamily;
    font-size: 54px;
    font-weight: bold;
  }
  & h2.hero-heading {
    @include margin (null, null, null, null);
    @include padding (0px, null, 0px, null);
    font-family: $heroHeadingFontFamily;
    font-size: 54px;
    font-weight: bold;
  }
  & p.hero-description {
    @include margin (null, null, null, null);
    @include padding (0px, null, 0px, null);
    font-family: $heroDescriptionFontFamily;
    font-size: 18px;
    font-weight: bold;
    text-transform: none !important;
  }
  & span.hero-description {
    @include margin (null, null, null, null);
    @include padding (0px, null, 0px, null);
    font-family: $heroDescriptionFontFamily;
    font-size: 18px;
    font-weight: bold;
    text-transform: none !important;
  }
  & a {
    color: #FFFFFF;
  }
  & a.hover {
    color: #FFFFFF;
  }
  & a.active {
    color: #FFFFFF;
  }
}

#left-hero-column {
  @include margin (null, null, null, null);
  @include padding (0px, null, 60px, null);
  background: url("/../../img/portland-oregon-sign-bw.png") no-repeat center;
  background-position: top;
}

#right-hero-column {
  @include margin (null, null, null, null);
  @include padding (0px, null, 120px, null);
  background-color: #0066cc;
  & h1.hero-heading {
    @include margin (null, null, null, null);
    @include padding (120px, null, 0px, null);
  }
  & .hero-icon {
    @include margin (null, null, null, null);
    @include padding (120px, null, 0px, null);
  }
}

.single-page-hero {
  @include margin (null, null, null, null);
  @include padding (60px, null, 60px, null);
  background-color: #0066CC;
  color: #FFFFFF;
  & h1.hero-heading {
    @include margin (null, null, null, null);
    @include padding (20px, null, 0px, null);
    font-family: $heroHeadingFontFamily;
    font-size: 54px;
    font-weight: bold;
  }
  & h2.hero-heading {
    @include margin (null, null, null, null);
    @include padding (0px, null, 0px, null);
    font-family: $heroHeadingFontFamily;
    font-size: 54px;
    font-weight: bold;
  }
  & p.hero-description {
    @include margin (null, null, null, null);
    @include padding (0px, null, 0px, null);
    font-family: $heroDescriptionFontFamily;
    font-size: 18px;
    font-weight: bold;
    text-transform: none !important;
  }
}

.single-page-header {
  background-color: #0066cc;
  & .page-heading {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
  }
  & .branding {
    @include margin (null, null, null, null);
    @include padding (40px, null, 25px, null);
    background-image: url("/../../img/black_lozenge.png");
  }
  & .page-title {
    @include margin (null, null, null, null);
    @include padding (40px, null, 25px, null);
  }
}

nav.single-page-navigation {
  border-bottom: solid 2px #333333;
  @include margin (null, null, null, null);
  @include padding (20px, null, 20px, null);  
  & a {
    color: #333333;
  }
  & a:hover {
    color: #333333;
    text-decoration: underline;
  }
}
