// menus.scss

// contact menu variables
$contactBgColor: #333333;
$contactFontFamily: "Merriweather Sans", "Helvetica", "Arial", sans-serif;
$contactFontSize: 16px;
$contactFontWeight: normal;
$contactColor: #999999;
$contactTextTransform: uppercase;
$contactBorderTop: none;
$contactBorderBottom: none;

//primary nav variables

// secondary nav variables
$secondaryNavBgColor: #222222;
$secondaryNavLinkColor: #999999;
$anchor-text-decoration-hover: underline;

// footer nav variables
$footer-nav-bg-color: #FFFFFF;
$footer-nav-bg-image: none;
$footer-nav-link-color: white;
$footer-nav-margin-top: 0px;
$footer-nav-margin-bottom: 0px;
$footer-nav-padding-top: 0px;
$footer-nav-padding-bottom: 0px;
$footer-nav-border-top: none;
$footer-nav-border-bottom: solid 5px #333333;

@mixin margin ($top:null, $right:null, $bottom:null, $left:null) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin padding ($top:null, $right:null, $bottom:null, $left: null) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

// maps to the custom contact menu class
.contact-menu {
  @include margin (null, null, null, null);
  @include padding (10px, null, 10px, null);
  background-color: $contactBgColor;
  color: $contactColor;
  & ul {
    @include margin (null, null, null, null);
    @include padding (null, null, null, null);
  }
  & ul li {
    font-family: $contactFontFamily;
    font-weight: $contactFontWeight;
    @include margin (null, null, null, null);
    @include padding (null, null, null, null);
    font-size: 16px;
  }
  & span {
    font-family: $contactFontFamily;
    font-weight: $contactFontWeight;
    color: $contactColor;
    font-size: $contactFontSize;
    text-transform: $contactTextTransform;
    @include margin (null, null, null, null);
    @include padding (null, null, null, null);
  }
}

// maps to the foundation top-bar class
.top-bar {
  @include margin (null, null, null, null);
  @include padding (null, null, null, null);
  background-color: #FFFFFF !important;
  border-top: solid 1px #333333;
  border-bottom: solid 1px #333333;
  & ul {
    @include margin (null, null, null, null);
    @include padding (null, null, null, null);
    background-color: #FFFFFF !important;
  }
}

// maps to the customized top bar left class
.top-bar-left {
  & ul li a {
    @include margin (null, null, null, null);
    @include padding (null, null, null, null);
    font-family: "Merriweather Sans", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
  }
  & ul li a:hover {
    font-weight: bold;
    text-decoration: underline;
  }
}

// maps to the customized top bar right class
.top-bar-right {
  & ul li a {
    @include margin (null, null, null, null);
    @include padding (null, null, null, null);
    font-family: "Merriweather Sans", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
  }
  & ul li a:hover {
    font-weight: bold;
    text-decoration: none;
  }
}

// maps to the custom cta bar class
.cta-bar {
  @include margin (null, null, null, null);
  @include padding (null, null, null, null);
  background-color: #FFFFFF;
  border-top: none;
  border-bottom: solid 1px #CCCCCC;
  & .cta-buttons {
    margin-top: 10px;
    & .button {
    font-family: "Merriweather Sans", "Helvetica", "Arial", sans-serif;
      font-size: 16px;
    }
  }
}

// maps to the custom secondary nav class
.secondary-nav {
  @include margin (null, null, null, null);
  @include padding (null, null, null, null);
  background-color: $secondaryNavBgColor;
}

a.secondary-link {
  color: $secondaryNavLinkColor;
}

a.secondary-link:hover {
  color: darken($secondaryNavLinkColor, 20%) !important;
  text-decoration: $anchor-text-decoration-hover;
}
