// pm-preview.scss
$pm-management-margin-top: 0px;
$pm-management-margin-bottom: 0px;
$pm-management-padding-top: 60px;
$pm-management-padding-bottom: 60px;
$pm-management-bg-color: #FFFFFF;

.pm-preview {
  margin-top: $pm-management-margin-top;
  margin-bottom: $pm-management-margin-bottom;
  padding-top: $pm-management-padding-top;
  padding-bottom: $about-padding-bottom;
  background-color: $pm-management-bg-color;
}

.pm-preview h2, h3, h4 {
  text-transform: none;
}
