// project-card.scss

// project-cart variables
$project-card-border-top: solid 5px #0070C0;
$project-card-bg-color: #FFFFFF !important;

.project-card {
  background-color: $project-card-bg-color;
  border-top: $project-card-border-top;
  border-left: 1px solid $light-gray;
  border-right: solid 1px $light-gray;
  border-bottom: solid 1px $light-gray;
  padding: 1rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

.project-card-thumbnail {
  display: block;
  position: relative;
}

.project-card-title {
  font-family: 'Open sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.45rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.project-card-desc {
  color: $dark-gray;
  display: block;
  font-family: 'Open sans', sans-serif;
  font-size: 0.85rem;
}

.project-card-price {
  color: darken($dark-gray,30%);
  display: inline-block;
  font-size: 0.85rem;
  font-weight: 600;
  margin-top: 0.8rem;
}

.project-card-sale {
  color: $medium-gray;
  display: inline-block;
  font-size: 0.85rem;
  margin-left: 0.3rem;
  text-decoration: line-through;
}

.project-card-colors {
  display: block;
  margin-top: 0.8rem;
}

.project-card-color-option {
  display: inline-block;
  height: 25px;
  width: 25px;
}

.project-card-button {
  padding-top: 20px;
}
