// sections.scss

// custom section heading variables
$headingFontFamily: "Bebas Neue", "OSP-DIN", "Arial", sans-serif;
$headingFontSize: 54px;
$headingFontWeight: bold;
$headingColor: #333333;
$headingTextTransform: uppercase;

// custom section description variables
$descriptionFontFamily: "Merriweather", "Helvetica", "Arial", sans-serif;
$descriptionFontSize: 18px;
$descriptionFontWeight: bold;
$descriptionTextTransform: none;
$descriptionColor: #333333;

// custom cta bar variables
$ctaFontFamily: "OSP-DIN", "Helvetica", "Arial", sans-serif;
$ctaFontSize: 21px;
$ctaFontWeight: bold;
$ctaTextTransform: capitalize;
$ctaColor: #999999;

// mixin for section margin
@mixin section-margin($margin: 0px) {
  margin-top: $margin;
  margin-bottom: $margin;
}

// mixin for section padding
@mixin section-padding($padding: 0px) {
  padding-top: $padding;
  padding-bottom: $padding;
}

// mixin for section border
@mixin section-border($borderTop: none, $borderRight: none, $borderBottom: none, $borderLeft: none) {
  border-top: $borderTop;
  border-right: $borderRight;
  border-bottom: $borderBottom;
  border-left: $borderLeft;
}

section {
  & h1 .section-heading {
    font-size: 54px;
  }
  & h2 .section-heading {
    font-size: 42px;
  }
  & h3 .section-heading {
    font-size: 21px;
  }
  & h4 .section-heading {
    font-size: 21px;
  }
  & h5 .section-heading {
    font-size: 21px;
  }
  & h6 {
    font-size: 21px;
  }
  & p {
    font-family: "Merriweather", "Georgia", "Times New Roman", serif;
    font-size: 16px;
  }
}

// positioning classes for custom sections
.section {
  @include section-margin;
  @include section-padding;
}

.section-xs {
  @include section-margin(0px);
  @include section-padding(5px);
}

.section-sm {
  @include section-margin(0px);
  @include section-padding(10px);
}

.section-md {
  @include section-margin(0px);
  @include section-padding(20px);
}

.section-lg {
  @include section-margin(0px);
  @include section-padding(40px);
}

.section-xl {
  @include section-margin(0px);
  @include section-padding(40px);
}

.bordered {
  border-bottom: solid 2px #333333;
}

// custom class for section heading
.section-heading {
  font-family: $headingFontFamily;
  font-size: $headingFontSize;
  font-weight: $headingFontWeight;
  text-transform: $headingTextTransform;
  color: $headingColor;
}

// custom class for section description
.section-description {
  font-family: $descriptionFontFamily;
  font-size: $descriptionFontSize;
  font-weight: $descriptionFontWeight;
  text-transform: $descriptionTextTransform;
  padding-top: 0px;
  padding-bottom: 40px;
  color: $descriptionColor;
  & .section-description-unpadded {
    padding-bottom: 0px;
  }
}

// custom class for cta bar
.cta-bar {
  font-family: $ctaFontFamily;
  font-size: $ctaFontSize;
  font-weight: $ctaFontWeight;
  text-transform: $ctaTextTransform;
  color: $ctaColor;
  border-top: none;
  & h1 {
    font-family: $ctaFontFamily;
    font-size: 54px;
    text-transform: uppercase;
    color: #333333;
  }
  & h2 {
    font-family: $ctaFontFamily;
    font-size: 48px;
    text-transform: uppercase;
    color: #333333;
  }
  & h3 {
    font-family: $ctaFontFamily;
    font-size: 42px;
    text-transform: uppercase;
    color: #333333;
  }
  & h4 {
    font-family: $ctaFontFamily;
    font-size: 32px;
    text-transform: uppercase;
    color: #333333;
  }
  & h5 {
    font-family: $ctaFontFamily;
    font-size: 21px;
    text-transform: uppercase;
    color: #333333;
  }
}

.page-heading {
  font-family: "Bebas Neue", "OSP-DIN", "Helvetica", "Arial", sans-serif;
  font-size: 54px;
  font-weight: bolder;
  color: lighten(#CCCCCC, 40%);
}
