// sections.scss

// custom section heading variables
$headingFontFamily: "Bebas Neue", "OSP-DIN", "Arial", sans-serif;
$headingFontSize: 54px;
$headingFontWeight: bold;
$headingColor: #333333;
$headingTextTransform: uppercase;

// custom section description variables
$descriptionFontFamily: "OSP-DIN", "Helvetica", "Arial", sans-serif;
$descriptionFontSize: 24px;
$descriptionFontWeight: bold;
$descriptionTextTransform: capitalize;
$descriptionColor: #999999;

// custom cta bar variables
$ctaFontFamily: "OSP-DIN", "Helvetica", "Arial", sans-serif;
$ctaFontSize: 21px;
$ctaFontWeight: bold;
$ctaTextTransform: capitalize;
$ctaColor: #999999;

// mixin for section margin
@mixin section-margin($margin: 0px) {
  margin-top: $margin;
  margin-bottom: $margin;
}

// mixin for section padding
@mixin section-padding($padding: 0px) {
  padding-top: $padding;
  padding-bottom: $padding;
}

// mixin for section border
@mixin section-border($borderTop: none, $borderRight: none, $borderBottom: none, $borderLeft: none) {
  border-top: $borderTop;
  border-right: $borderRight;
  border-bottom: $borderBottom;
  border-left: $borderLeft;
}

section {
  & p {
    font-family: "Georgia", "Times New Roman", serif;
    font-size: 14px;
  }
}

// positioning classes for custom sections
.section {
  @include section-margin;
  @include section-padding;
}

.section-xs {
  @include section-margin(0px);
  @include section-padding(5px);
}

.section-sm {
  @include section-margin(0px);
  @include section-padding(10px);
}

.section-md {
  @include section-margin(0px);
  @include section-padding(20px);
}

.section-lg {
  @include section-margin(0px);
  @include section-padding(60px);
}

.section-xl {
  @include section-margin(0px);
  @include section-padding(60px);
}

// custom class for section heading
.section-heading {
  font-family: $headingFontFamily;
  font-size: $headingFontSize;
  font-weight: $headingFontWeight;
  text-transform: $headingTextTransform;
  color: $headingColor;
}

// custom class for section description
.section-description {
  font-family: $descriptionFontFamily;
  font-size: $descriptionFontSize;
  font-weight: $descriptionFontWeight;
  text-transform: $descriptionTextTransform;
  color: $descriptionColor;
}

// custom class for cta bar
.cta-bar {
  font-family: $ctaFontFamily;
  font-size: $ctaFontSize;
  font-weight: $ctaFontWeight;
  text-transform: $ctaTextTransform;
  color: $ctaColor;
}
