// sections.scss

// custom section heading variables
$headingFontFamily: "Bebas Neue", "OSP-DIN", "Arial", sans-serif;
$headingFontSize: 54px;
$headingFontWeight: bold;
$headingColor: #333333;
$headingTextTransform: uppercase;

// custom section description variables
$descriptionFontFamily: "Merriweather", "Helvetica", "Arial", sans-serif;
$descriptionFontSize: 18px;
$descriptionFontWeight: bold;
$descriptionTextTransform: none;
$descriptionColor: #333333;

// custom section body copy font variables
$bodyFontFamily: "Merriweather", "Helvetica", "Arial", sans-serif;

// custom cta bar variables
$ctaFontFamily: "OSP-DIN", "Helvetica", "Arial", sans-serif;
$ctaFontSize: 21px;
$ctaFontWeight: bold;
$ctaTextTransform: capitalize;
$ctaBgColor: #FFFFFF;
$ctaColor: #999999;

@mixin margin ($top:null, $right:null, $bottom:null, $left:null) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}
@mixin padding ($top:null, $right:null, $bottom:null, $left: null) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

section {
  @include margin (null, null, null, null);
  @include padding (60px, null, 60px, null);
  & h1.section-heading {
    @include margin (null, null, null, null);
    @include padding (0px, null, 60px, null);
    font-family: $headingFontFamily;
    font-size: 54px;
  }
  & h2.section-heading {
    @include margin (null, null, null, null);
    @include padding (0px, null, 60px, null);
    font-family: $headingFontFamily;
    font-size: 42px;
  }
  & h3.section-heading {
    font-family: $headingFontFamily;
    font-size: 18px;
  }
  & h4.section-heading {
    font-family: $headingFontFamily;
    font-size: 21px;
  }
  & h5.section-heading {
    font-family: $headingFontFamily;
    font-size: 21px;
  }
  & h6.section-heading {
    font-family: $headingFontFamily;
    font-size: 21px;
  }
  & p.section-description{
    font-family: $bodyFontFamily;
    font-size: 16px;
  }
  & span.section-description {
    font-family: $bodyFontFamily;
    font-size: 16px;
  }
}

.blue-border {
  border-bottom: solid 5px #0066CC;
}

// custom class for section heading
.section-heading {
  font-family: $headingFontFamily;
  font-size: $headingFontSize;
  font-weight: $headingFontWeight;
  text-transform: $headingTextTransform;
  color: $headingColor;
}

// custom class for section description
.section-description {
  font-family: $descriptionFontFamily;
  font-size: $descriptionFontSize;
  font-weight: $descriptionFontWeight;
  text-transform: $descriptionTextTransform;
  padding-top: 10px;
  padding-bottom: 40px;
  color: $descriptionColor;
  & .section-description-unpadded {
    padding-bottom: 0px;
  }
}

// custom class for cta bar
.cta-bar {
  @include margin (null, null, null, null);
  @include padding (15px, null, 10px, null);
  font-family: $ctaFontFamily;
  font-size: $ctaFontSize;
  font-weight: $ctaFontWeight;
  text-transform: $ctaTextTransform;
  background-image: url("/img/swirl_pattern.png");
  background-image: linear-gradient(20%);
  background-color: none;
  border-top: solid 2px #CCCCCC !important;
  border-bottom: solid 2px #CCCCCC !important;
  color: $ctaColor;
  & h1 {
    font-family: $ctaFontFamily;
    font-size: 54px;
    text-transform: uppercase;
    color: #333333;
  }
  & h2 {
    font-family: $ctaFontFamily;
    font-size: 48px;
    text-transform: uppercase;
    color: #333333;
  }
  & h3 {
    font-family: $ctaFontFamily;
    font-size: 42px;
    text-transform: uppercase;
    color: #333333;
  }
  & h4 {
    font-family: $ctaFontFamily;
    font-size: 32px;
    text-transform: uppercase;
    color: #333333;
  }
  & h5 {
    font-family: $ctaFontFamily;
    font-size: 21px;
    text-transform: uppercase;
    color: #333333;
  }
}

.about-contact-info {
  @include breakpoint(small) {
    background-image:url("/img/interchange/nxt-industries-conference-room-bw-640px.png");
  }
  @include breakpoint(medium) {
    background-image:url("/img/interchange/nxt-industries-conference-room-bw-1024px.png");
  }
  @include breakpoint(large) {
    background-image:url("/img/interchange/nxt-industries-conference-room-bw-1200px.png");
  }
  @include breakpoint(xlarge) {
    background-image:url("/img/interchange/nxt-industries-conference-room-bw-1440px.png");
  }
}
