// sitewide custom scss settings

// google fonts imports
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:800');

// sitewide variables
$body-background-color: #FFFFFF !important;
$body-background-image: none;
$nav-bg-color: #FFFFFF;
$nav-link-color: #ff9900;

// section variables
$section-border-top: none;
$section-border-bottom: solid 1px #cccccc;

// section heading variables
$section-heading-font: "Merriweather Sans", sans-serif;
$section-heading-font-size: 54px;
$section-heading-font-weight: bold;
$section-heading-text-transform: capitalize;
$section-heading-color: darken($dark-gray,30%) !important;

// section description variables
$section-description-font: "Georgia", "Times New Roman", serif;
$section-description-font-size: 21px;
$section-description-font-weight: bold;
$section-description-text-transform: capitalize;
$section-description-color: #666666;

//section call-to-action variables
$section-cta-font: "Merriweather Sans", sans-serif;
$section-cta-font-size: 24px;
$section-cta-font-weight: bold;
$section-cta-text-transform: uppercase;
$section-cta-color: #666666;

html {
  background-color: $body-background-color;
}

body {
  background-color: $body-background-color;
  background-image: $body-background-image;
}

nav {
  background-color: $nav-bg-color;
  color: $nav-link-color;
}

// maps to the default section element
section {
  border-top: $section-border-top;
  border-bottom: $section-border-bottom;
}

// maps to the default paragraph tag
p {
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 14px;
  font-weight: 400;
}

// maps to the section heading class of the custom sections
.section-heading {
  font-family: $section-heading-font;
  font-size: $section-heading-font-size;
  font-weight: $section-heading-font-weight;
  text-transform: $section-heading-text-transform;
  color: $section-heading-color;
}

// maps to the section description class of the custom sections
.section-description {
  font-family: $section-description-font;
  font-size: $section-description-font-size;
  font-weight: $section-description-font-weight;
  text-transform: $section-description-text-transform;
  color: $section-description-color;
}

.section-cta {
  font-family: $section-cta-font;
  font-size: $section-cta-font-size;
  font-weight: $section-cta-font-weight;
  text-transform: $section-cta-text-transform;
  color: $section-cta-color;
  padding-top: 20px;
}

.cta-border {
  border-top: solid 5px #0075BD;
}
