// sitewide custom scss settings

// google fonts imports
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:800');

// sitewide variables
$body-background-color: #FFFFFF !important;
$body-background-image: none;
$nav-bg-color: #FFFFFF;
$nav-link-color: #ff9900;

// reveal custom top border
$reveal-border-top: solid 5px #005ACF !important;

html {
  background-color: $body-background-color;
}

body {
  background-color: $body-background-color;
  background-image: $body-background-image;
}

nav {
  background-color: $nav-bg-color;
  color: $nav-link-color;
}

// maps to the default paragraph tag
p {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;
}

// maps to the custom skillset heading
.skillset-heading {
  font-family: "Merriweather Sans", sans-serif;;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

// maps to the custom skillset description
.skillset-description {
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 14px;
  font-weight: 400;
}

// maps to the custom skillset icon
.skillset-icon {
  font-size: 54px;
  color: #0057BD;
}

// maps to the default reveal sections
.reveal {
  border-top: $reveal-border-top;
}

// maps to the default reveal section
.large .reveal {
  border-top: $reveal-border-top;
}

// maps to the default reveal overlay
.reveal-overlay {
  background-color: #FCFCFC !important;
}

.client-img {
  & .sm-img {
    width: 140px;
    height: 140px;
  }
  & .md-img  {
    width: 140px;
    height: 140px;
  }
  & .lg-img {
    width: 140px;
    height: 140px;
  }
  & .xl-img {
    width: 140px;
    height: 140px;
  }
}

.project-img {
  & .sm-img {

  }
}

.card {
  & .padded {
    padding: 10px;
  }
}
